.apiHeader{
    padding-left: 14px;
    text-align: center;
    font-weight: 700;
}

#item {
    position: relative;
    left: 2px;
}

.cartmap {
    display: inline-flex;
    width: 150px;
    flex-direction: column;
    border: 1px solid gold;
    text-align: center;
    height: 150px;
    margin-bottom: 10px; 
    padding-top: 10px;
    background-color: rgb(0, 0, 0);
    border-radius: 20px;
    margin: 10px;
    
}

#buttonOne {
    margin-left: 25px;
    margin-bottom: 10px;
    margin-top: 5px;
    justify-content: center;
    width: 100px;
    color: rgb(190, 166, 29);
    background-color: black;
    border: 1px solid rgb(190, 166, 29);
    border-radius: 6px;
}   

#button1{
    margin-top: 7px;
}

.test {
    margin: 2px;
}

.cart {
    margin: 15px;
    border-radius: 20px;
    background-color: rgb(217, 188, 27);
    border: 12px solid black;
}